<mat-list>
  <app-subheader></app-subheader>
  <ng-container *ngIf="edges$ | async as edges">
    <ng-container *ngFor="let edge of edges; last as last">
      <app-presentational-item
        [isLastItem]="last"
        [node]="edge?.node"
        (addStarEvent)="addStar($event)"
        (removeStarEvent)="removeStar($event)"
      ></app-presentational-item>
    </ng-container>
  </ng-container>
</mat-list>

<!-- TODO: presentationalで包んだ方がいいのかな -->
<ng-container *ngIf="totalCount$ | async as totalCount">
  <app-pagination [totalCount]="totalCount" (paginate)="onPagenate($event)">
  </app-pagination>
</ng-container>
