<mat-list>
  <div mat-subheader>Starred Repositories</div>
  <mat-divider></mat-divider>
  <ng-container
    *ngFor="let repository of starredRepositories.edges; last as last"
  >
    <mat-divider *ngIf="!last"></mat-divider>
    <app-presentational-item
      [repository]="repository"
    ></app-presentational-item>
  </ng-container>
</mat-list>
<!-- TODO: presentationalで包んだ方がいいのかな -->
<app-pagination
  [totalCount]="starredRepositories.totalCount"
  (paginate)="onPagenate($event)"
>
</app-pagination>
