<div class="contents">
  <mat-list class="main">
    <app-presentational-subheader
      (searchEvent)="onSearch($event)"
    ></app-presentational-subheader>
    <ng-container *ngIf="edges$ | async as edges">
      <ng-container *ngFor="let edge of edges; last as last">
        <app-presentational-item
          [isLastItem]="last"
          [node]="edge?.node"
        ></app-presentational-item>
      </ng-container>
    </ng-container>
  </mat-list>
  <div class="pagination">
    <app-pagination> </app-pagination>
  </div>
</div>
